* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Brave, and Edge */
/* ::-webkit-scrollbar {
  display: none;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;
